.topbar {
	list-style-type: none;
	overflow: hidden;
	background-color: rgba(51, 51, 51, 255);
	top: 0;
	height: 42px;
	width: 100%;
	transition: 0.4s;
}	
.navimg {
	height: 40px;
}
#homelink {
	float: left;
	padding: 0px 16px;
}
.maincontent {
	margin: 0px;
}
