.header {
	background-color: #2A472D;
	padding: 0px;
	text-align: center;
}
/* top navigation bar at rest */
.topnav {
	list-style-type: none;
	overflow: hidden;
	background-color: rgba(51, 51, 51, 255);
	position: fixed;
	top: 0;
	width: 100%;
	transition: 0.4s;
}
.navimg {
	height: 40px;
}
#homelink {
	float: left;
	padding: 0px 16px;
}
.topnav a {
	float: right;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.topnav a:hover {
	background-color: #555555; 
	color: black;
}
.mainbody {
	background: url(/assets/mainbackground.jpg) no-repeat center fixed;
	background-size: cover;
	margin:0;
}
.maincontent:after {
	content: "";
	display: table;
	clear: both;
}
.maincontentcolumn {
	float: left;
	width: 50%;
	padding 15px;
}
.center {
	position: fixed;
	top: 40%;
	left: 50%;
	width: 80%;
	text-align: center;
	color: white;
	font-size: 22px;
	transform: translate(-50%, -50%);
}
.button {
	background-color: rgb(0, 102, 255);
	border: 2px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	font-style: bold;
	vertical-align: middle;
}


